@model KinoDotNetCore.Models.Seanse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seanse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dzien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dzien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godzina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godzina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filmy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filmy.Rezyser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale.Has3D)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
